@page "{resturantID}"
@model OdeToFood.Pages.Resturants.DeleteModel
@{
    // Layout = "_Layout2 ";//no layout used when creating the razor page
    ViewData["Title"] = "Delete";
}


    <h2>Delete !</h2>
    <div class=" alert alert-danger">

        Are you sure you want to delete this @Model.Resturant.NBame?
    </div>
    <form method="post">
        <button type ="submit"class="btn btn-danger ">Yes !</button>
        <a asp-page="List"class="btn btn-primary" >Cancel</a>
    </form>

